<header class="p-3 border-bottom">
	<div class="container">

		<nav class="navbar navbar-expand-md navbar-dark " aria-label="main-nav">
			<div class="container-fluid">

				<div>
					<a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
						<img class="logo" src="../bilder/galerie/masterpainting.png">
					</a>
					<span class="logo-sub">Created by B. Voigt</span>
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-header" aria-controls="nav-header" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="nav-header">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							{% assign cssActive = "" %}
							{% if page.category == "bio" %}
								{% assign cssActive = "active" %}
							{% endif %}
							<a class="nav-link {{ cssActive }}" href="bio.html">Über</a>
						</li>
						<li class="nav-item">
							{% assign cssActive = "" %}
							{% if page.category == "galerie" %}
								{% assign cssActive = "active" %}
							{% endif %}
							<a class="nav-link {{ cssActive }}" aria-current="page" href="pouring.html">Galerie</a>
						</li>
						<li class="nav-item">
							{% assign cssActive = "" %}
							{% if page.category == "gestaltung" %}
								{% assign cssActive = "active" %}
							{% endif %}
							<a class="nav-link {{ cssActive }}" href="holz_fenster.html">Gestaltung</a>
						</li>
						<li class="nav-item">
							{% assign cssActive = "" %}
							{% if page.category == "jahreszeiten" %}
								{% assign cssActive = "active" %}
							{% endif %}
							<a class="nav-link {{ cssActive }}" href="jahreszeiten_ostereier.html">Jahreszeiten</a>
						</li>
						<li class="nav-item">
							{% assign cssActive = "" %}
							{% if page.category == "grafik" %}
								{% assign cssActive = "active" %}
							{% endif %}
							<a class="nav-link {{ cssActive }}" href="../design/index.html">Grafik</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
</header>
