{% if page.category == "bio" %}
<meta name="description" content="Über Britta Voigt. Sie lebt in Berlin, widmet sich der Kreativen Malerei und fertigt Wohnaccessoires verschiedener Stilrichtungen.">
{% else %}
<meta name="description" content="{{ page.metaname }} von Britta Voigt. Sie lebt in Berlin, widmet sich der Kreativen Malerei und fertigt Wohnaccessoires verschiedener Stilrichtungen.">
{% endif %}
<meta name="keywords" content="Britta Voigt, Berlin, Kreative Malerei, Öl, Gouache, Aquarell, Bleistift, Kohle, Gestaltung, Accessoires, Dekoration">
