<!doctype html>
<html>

<head>
	{% include galerie/header.html %}
</head>

<body>

	{% include galerie/galerie_navbar.html %}

	<div class="container" id="main">

		{% include galerie/craftprojects_header.html %}
		{% include galerie/galerie_nav_devider.html %}

		<div id="navi">
			<ul>
				<li id="a1" data-menu-item="laternen"><a href="../galerie/craft_holz_laternen.html">Laternen</a></li>
				<li id="a2" data-menu-item="kerzenhalter"><a
						href="../galerie/craft_holz_kerzenhalter.html">Kerzenhalter</a></li>
				<li id="a3" data-menu-item="lampen"><a href="../galerie/craft_holz_lampen.html">Stehlampen</a></li>
			</ul>
		</div>

		{% include galerie/craft_nav_back_holz.html %}
		{% include galerie/galerie_content.html %}
		{% include galerie/craft_footer.html %}
		{% include galerie/galerie_magnific_popup.html %}

	</div>

	{% include slick_js.html %}

</body>

</html>
