<!doctype html>
<html>

<head>
	{% include galerie/header.html %}
</head>

<body>

	{% include galerie/galerie_navbar.html %}

	<div class="container" id="main">

		{% include galerie/galerie_header.html %}
		{% include galerie/galerie_nav_devider.html %}

		<div id="navi">
			<ul>
				<li id="a1" data-menu-item="maritim"><a href="../galerie/3d_bilder_maritim.html">Maritim</a></li>
				<li id="a2" data-menu-item="musik"><a href="../galerie/3d_bilder_musik.html">Musik</a></li>
				<li id="a3" data-menu-item="tiere"><a href="../galerie/3d_bilder_tiere.html">Tiere</a></li>
				<li id="a4" data-menu-item="cafe"><a href="../galerie/3d_bilder_cafeemotion.html">Café Emotion</a></li>
				<li id="a5" data-menu-item="foodart"><a href="../galerie/3d_bilder_foodart.html">Food Art</a></li>
			</ul>
		</div>

		{% include galerie/nav_start.html %}
		{% include galerie/galerie_content.html %}
		{% include galerie/galerie_footer.html %}
		{% include galerie/galerie_magnific_popup.html %}

	</div>

	{% include slick_js.html %}

</body>

</html>
