<!doctype html>
<html>

<head>
	{% include galerie/header.html %}
</head>

<body>

	{% include galerie/galerie_navbar.html %}

	<div class="container" id="main">

		{% include galerie/gestaltung_header.html %}
		{% include galerie/galerie_nav_devider.html %}

		<div id="navi">
			<ul>
				<li id="a1" data-menu-item="wein"><a href="../galerie/holzbilder_wein.html">Wein</a></li>
				<li id="a2" data-menu-item="bier"><a href="../galerie/holzbilder_bier.html">Bier</a></li>
				<li id="a3" data-menu-item="maritim"><a href="../galerie/holzbilder_maritim.html">Maritim</a></li>
				<li id="a4" data-menu-item="tiere"><a href="../galerie/holzbilder_tiere.html">Tiere</a></li>
			</ul>
		</div>

		{% include galerie/nav_start.html %}
		{% include galerie/galerie_content.html %}
		{% include galerie/gestaltung_footer.html %}
		{% include galerie/galerie_magnific_popup.html %}

	</div>

	{% include slick_js.html %}

</body>

</html>
