<!doctype html>
<html>

<head>
	{% include galerie/header.html %}
</head>

<body>

	{% include galerie/galerie_navbar.html %}

	<div class="container" id="main">

		{% include galerie/gestaltung_header.html %}
		{% include galerie/galerie_nav_devider.html %}

		<div id="navi">
			<ul>
				<li id="a1" data-menu-item="kraenze"><a href="../galerie/jahreszeiten_adventskraenze.html">Adventskränze</a></li>
				<li id="a2" data-menu-item="glasdesign"><a href="../galerie/jahreszeiten_glasdesign.html">Glasdesign</a></li>
				<li id="a3" data-menu-item="baeume"><a href="../galerie/jahreszeiten_tannenbaeume.html">Tannenbäume</a></li>
				<li id="a4" data-menu-item="zapfen"><a href="../galerie/jahreszeiten_tannenzapfen.html">Tannenzapfen</a></li>
				<li id="a5" data-menu-item="tischdeko"><a href="../galerie/jahreszeiten_tischdeko_xmas.html">Tischdeko</a></li>
				<li id="a6" data-menu-item="toepfe"><a href="../galerie/jahreszeiten_tontoepfe.html">Tontöpfe</a></li>
			</ul>
		</div>

		{% include galerie/nav_start.html %}
		{% include galerie/galerie_content.html %}
		{% include galerie/jahreszeiten_footer.html %}
		{% include galerie/galerie_magnific_popup.html %}

	</div>

	{% include slick_js.html %}

</body>

</html>
